Package: dev.joshrad.sidecar-touch-tweak
Name: sidecar-touch-tweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Joshua Daneshrad
Author: Joshua Daneshrad
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
