Package: dev.joshrad.sidecar-touch-tweak
Name: sidecar-touch-tweak
Version: 1.0.0
Architecture: iphoneos-arm
Description: A tweak that enables the native Sidecar touch interface on older iPadOS versions
Maintainer: joshrad.dev
Author: joshrad.dev
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
